Pods/
AirWatchSDK.xcodeproj/xcuserdata
xcuserdata/
*.orig
SampleApps/RoomFinderSwift/RoomFinderSwift.xcodeproj/project.xcworkspace
*.xcworkspacedata
SampleApps/RoomFinderObjc/-IDEBuildOperationMaxNumberOfConcurrentCompileTasks=1/Build/Intermediates
SampleApps/RoomFinderObjc/-IDEBuildOperationMaxNumberOfConcurrentCompileTasks=1
SampleApps/RoomFinderObjc/RoomFinder.xcodeproj/xcuserdata/rkissel.xcuserdatad/xcschemes
*.xccheckout
SampleApps/RoomFinderObjc/RoomFinder.xcodeproj/xcuserdata
AirWatchSDK.xcodeproj/project.xcworkspace/xcuserdata
AirWatchSDK.xcworkspace/xcuserdata
SampleApps/RoomFinderObjc/RoomFinder.xcworkspace/xcuserdata
SampleApps/SDKExampleApplication/SDKExampleApplication.xcodeproj/project.xcworkspace/xcuserdata
SampleApps/SDKExampleApplication/SDKExampleApplication.xcodeproj/xcuserdata
SampleApps/SDKExampleApplication/SDKExampleApplication.xcworkspace/xcuserdata
*.xcscmblueprint
SampleApps/SDKSampleApp/SDKSampleApp.xcodeproj/xcuserdata
SampleApps/SDKSampleApp/DerivedData
Build/
xcuserdata/
FrameworkGenerator/build
Carthage/
Frameworks/
libs/
*Frameworks*.zip
server/
